.address {
  background-color: #f2f2f2;
}

.address--accent {
  background-color: #ffffff;
}

.address__wrapper {
  display: flex;
  flex-direction: row;
  padding: 26px 20px 26px 20px;
  box-sizing: border-box;
}

.address__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;
  color: #111111;
  max-width: 165px;
}

.address__description {
  font-family: "Lato", sans-serif;
  line-height: 20px;
  max-width: 160px;
}
