.cards {
  display: block;
}

.cards__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.card {
  width: 280px;
  padding: 20px 0 25px 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  text-transform: uppercase;
  margin: 0;
}

.card__title--narrow {
  width: 80px;
  margin-bottom: 14px;
}

.card__img {
  align-self: center;
}

.card__wrapper {
  width: 140px;
  margin-bottom: 17px;
}

.card__product-info {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  padding: 0;
  margin: 0;
}

.card__button {
  width: 100%;
}

.card--show-more {
  display: block;
  padding: 25px 0 25px 0;
  text-align: center;
}

.card__description {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  margin: 0;
  padding: 8px 0 21px 0;
}
