.form {
  text-align: left;
  margin-top: -20px;
  padding: 0 20px 32px 20px;
  box-sizing: border-box;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 16px;
}

.form__title {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: #000000;
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  position: relative;
}

.form__title::before {
  position: absolute;
  content: "";
  width: 100vw;
  height: 2px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #68b738;
  z-index: -1;
}

.form__title-text {
  padding-left: 20px;
  padding-right: 20px;
  margin-left: -20px;
  background-color: #ffffff;
}

.form__item {
  border: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.form__button-wrapper {
  display: flex;
  flex-direction: column;
  gap: 21px;
}

.form__button {
  width: 100%;
}

.form__legend {
  font-family: "Lato", "Arial", sans-serif;
  color: #000000;
  text-align: center;
  display: block;
  padding: 0;
}

@media (max-width:767px) {
  .form__title-text--narrow {
    display: block;
    max-width: 187px;
  }
}

@media (min-width: @tablet-width) {
  .form {
    font-size: 20px;
    margin-top: 25px;
    padding: 0;
  }

  .form__item {
    padding: 72px 70px 40px 70px;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__button-wrapper {
    flex-direction: row;
    gap: 60px;
    margin-bottom: 65px;
  }

  .form__button {
    min-width: 284px;
    width: initial;
    margin-left: 70px;
  }

  .form__legend {
    align-self: center;
  }
}

@media (min-width: @desktop-width) {
  .form{
    padding: 0;
    padding-bottom: 79px;
  }

  .main-form__header {
    padding-left: 110px;
    padding-right: 110px;
  }
  .form__item {
    padding-left: 110px;
  }
  .form__wrapper {
    display: flex;
    padding: 0;
    gap: 80px;
    align-items: center;
    width: 1220px;
    margin: 0;
    box-sizing: border-box;
    padding-left: 110px;
  }

  .form__button-wrapper {
    gap: 80px;
    margin-top: 16px;
    margin-bottom: 0;
  }

  .form__button {
    margin-left: 110px;
    width: 570px;
  }
}
