.main-header {
  padding: 13px 20px 14px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header__toggle {
  min-width: 24px;
  min-height: 50px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-header__toggle--close-state {
  background-image: url(../img/toggle-open.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__toggle--open-state {
  background-image: url(../img/toggle-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-nav--open-state {
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.main-nav--close-state {
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  padding-top: 22px;
  padding-bottom: 22px;
  border-bottom: 1px solid #E6E6E6;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (max-width:320px) {
  .main-nav--close-state {
    display:none;
  }
}

@media (min-width:@tablet-width) {
  .main-header {
    flex-direction: row;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
  }

  .main-header__wrapper {
    justify-content: flex-start;
    position: initial;
  }

  .main-header__toggle {
    display: none;
  }

  .main-nav {
    display: initial;
    position: initial;
    margin-left: auto;
  }

  .main-nav__list {
    flex-direction: row;
    gap: 33px;
    justify-content: flex-end;
  }

  .main-nav__item {
    padding: 0;
    border-bottom: none;
  }

  .main-nav__item--active {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #68B738;
    text-decoration-thickness: 2px;
    text-underline-offset: 10px;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-left: 110px;
    padding-right: 110px;
  }

  .main-nav__item--index-active {
    text-decoration-color: #ffffff;
  }

  .main-nav__link {
    font-size: 20px;
    line-height: 24px;
  }

  .main-nav__link--index {
    color: #ffffff;
    background-color: transparent;
  }
}
