
.main-nav--open-state {
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 22px 0 24px 0;
  display: grid;
  gap: 46px;
}

.main-nav__item {
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}
