
.main-nav--open-state {
  background-color: #ffffff;
  position: absolute;
  top: 65px;
  left: 0;
  width: 100%;
  display: none;
}

.main-nav__list {
  list-style: none;
  margin: 0;
  padding: 22px 0 24px 0;
  display: flex;
  flex-direction: column;
  gap: 46px;
}

.main-nav__item {
  padding-left: 20px;
  padding-right: 20px;
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  text-align: center;
}


@media (min-width:@tablet-width) {
  .main-nav {
    display: initial;
    position: initial;
  }

  .main-nav__list {
    flex-direction: row;
    gap: 33px;
    justify-content: flex-end;
  }

  .main-nav__item {
    padding: 0;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    text-align: left;
  }
}
