.main-footer {
  background-color: #f2f2f2;
  overflow: hidden;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  padding: 34px 20px 40px 20px;
  box-sizing: border-box;
}

.social {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 24px;
  align-items: center;
  list-style: none;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.social__link {
  width: 28px;
  height: 22px;
  display: inline-block;
  text-decoration: none;
  background-color: #666666;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    background-color: #68b738;
  }

  &:active {
    opacity: 0.3;
  }
}

.social__link--vkontakte {
  mask-image: url(../img/vkontakte.svg);
}

.social__link--youtube {
  mask-image: url(../img/youtube.svg);
}

.social__link--telegram {
  mask-image: url(../img/telegram.svg);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-decoration: none;
  margin: 0;
  width: 100%;
}

.copyright__text {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-align: left;
  height: 34px;
  width: 70%;
}

.copyright__logo {
  width: 27px;
  height: 34px;
  display: inline-block;
  text-decoration: none;
  background-color: #444444;
  background-repeat: no-repeat;
  background-position: center;
  mask-image: url(../img/logo-academy.svg);

  &[href]:hover {
    background-color: #68b738;
  }

  &[href]:active {
    opacity: 0.3;
  }
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper{
    flex-direction: row;
    padding: 50px 30px;
  }

  .main-footer__logo {
    margin-right: 120px;
  }

  .copyright {
    width: initial;
    margin-left: auto;
  }

  .copyright__text {
    white-space: nowrap;
    margin-right: 23px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    padding: 56px 110px;
  }

  .main-footer__logo {
    margin-right: 380px;
  }
}
