.main-header {
  padding: 13px 20px 10px 20px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  position: relative;
}

.main-header__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.main-header__toggle {
  min-width: 24px;
  min-height: 35px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.main-header__toggle--close-state {
  background-image: url(../img/toggle-open.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.main-header__toggle--open-state {
  background-image: url(../img/toggle-close.svg);
  background-repeat: no-repeat;
  background-position: center;
}

@media (min-width:@tablet-width) {
  .main-header {
    flex-direction: row;
    padding: 25px 30px 35px;
    align-items: center;
  }

  .main-header__wrapper {
    justify-content: flex-start;
    position: initial;
  }

  .main-header__toggle {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .main-header {
    padding-left: 110px;
    padding-right: 110px;
  }
}
