.promo__wrapper {
  width: auto;
  height: 302px;
  background-image: linear-gradient(rgba(@accent-color, 0.85), rgba(@accent-color, 0.85)), url(../../img/cat.png), linear-gradient(rgb(102, 102, 102),rgb(102, 102, 102));
  background-repeat: no-repeat;
  background-position: top center;
  margin-bottom: 135px;
}

.promo__title {
  color: #ffffff;
  background-color: transparent;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 25px;
  margin: 0;
}

.promo__description {
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.promo__link {
  width: 280px;
  margin: 0 auto;
}
