.promotion-block {
  background-image: linear-gradient(rgba(@accent-color, 0.85), rgba(@accent-color, 0.85)), url(../img/cat-promotion.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  min-height: 290px;
  margin-top: 35px;
}

.promotion-block__description {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  padding: 0;
  padding-top: 187px;
  max-width: 160px;
  text-align: center;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promotion-block{
    margin-top: 70px;
  }
}

@media (min-width: @desktop-width) {
  .promotion-block {
    width: 245px;
    justify-self: center;
    margin-top: 0;
  }
}
