.promotion {
  background-color: #eaeaea;
}

.promotion__wrapper {
  padding: 25px 20px 40px 20px;
  box-sizing: border-box;
  width: @mobile-width;
}

.promotion__title {
  background-color: transparent;
  margin: 0;
  margin-bottom: 40px;
}

.promotion__description {
  font-family: "Lato", sans-serif;
  color: #444444;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  max-width: 710px;
}

.promotion__list-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.promotion__list {
  margin: 0;
  padding: 0;
  grid-column: -1/1;
  display: grid;
  gap: 32px;
  grid-template-columns: 1fr 1fr;
}

.promotion__item {
  width: 124px;
  height: 56px;
  border: 1px solid #989898;
  border-radius: 1px;
  box-sizing: border-box;
}

.promotion__number {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;
  text-align: center;
  padding: 14px 5px 8px 5px;
}

.promotion__explanation {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
  background-color: #eaeaea;
  margin: 0 auto;
  padding: 0 8px;
  text-align: center;
  width: 87px;
}

.promotion__spending {
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  grid-column: -1/1;
}

.promotion__example {
  display: block;
  margin: 0 auto;
}

@media (min-width: @tablet-width) {
  .promotion {
    background: linear-gradient(#ffffff 58%, #eaeaea 1%);
  }

  .promotion__wrapper {
    padding-top: 45px;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 1080px;
    width: @tablet-width;
  }

  .promotion__title {
    margin-bottom: 60px;
  }

  .promotion__description {
    margin-bottom: 55px;
  }

  .promotion__list{
    justify-content: left;
    grid-column: initial;
    gap: 43px;
  }

  .promotion__list-wrapper{
    grid-template-columns: 2fr 1fr;
    align-items: center;
    gap: 40px;
    margin-bottom: 100px;
  }

  .promotion__item {
    border-radius: 3px;
    width: 162px;
    height: 77px;
    border-color: #cdcdcd;
  }

  .promotion__number{
    font-size: 30px;
    line-height: 37px;
    padding: 15px 5px 1px 5px;
  }

  .promotion__explanation {
    background-color: #ffffff;
    font-size: 14px;
    line-height: 14px;
    position: relative;
    bottom: -14px;
    width: fit-content;
  }

  .promotion__explanation br {
    display: none;
  }

  .promotion__spending {
    font-size: 20px;
    color: #000000;
    text-align: right;
    max-width: 180px;
    grid-column: initial;
  }
}

@media (min-width: @desktop-width) {
  .promotion {
    background: linear-gradient(#ffffff 23%, #f2f2f2 1%);
  }

  .promotion__wrapper {
    padding-left: 110px;
    padding-right: 110px;
    padding-bottom: 75px;
    position: relative;
    min-height: 597px;
    width: @desktop-width;
  }

  .promotion__list{
    margin-bottom: 55px;
  }

  .promotion__list-wrapper{
    margin: 0;
    display: block;
    max-width: 440px;
  }

  .promotion__spending {
    margin: 0;
    text-align: left;
    max-width: initial;
    width: 100%;
  }

  .promotion__description {
    padding-top: 76px;
    padding-bottom: 69px;
    max-width: 440px;
  }

  .promotion__explanation {
    background-color: #f2f2f2;
  }

  .promotion__example {
    position: absolute;
    top: 0;
    right: 0;
  }
}
